<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accordion</title>

    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
        <details class="accordion" open>
            <summary>Título do accordion</summary>
            <p>conteúdo escondido que aparece quando clicamos no título</p>
        </details>
        <details class="accordion">
            <summary>Título do accordion</summary>
            <p>conteúdo escondido que aparece quando clicamos no título</p>
        </details>
        <details class="accordion">
            <summary>Título do accordion</summary>
            <p>conteúdo escondido que aparece quando clicamos no título</p>
        </details>
    </div>

</body>
</html>